body {
  background: #222;
  background-size: cover;
  color: #FFF;
  font-family: "arial";
}
h1 {
    text-align: center;
}

#query {
    width: 50%;
}

#searchForm{
    text-align:center;
}
#results{
    text-align:center;
}

.resultsTable thead tr {
    background-color: #009879
    color: #ffffff
    text-align: left;
}

.resultsTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.resultsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.resultsTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
